<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="protechneck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.protechneck.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.MaterialComponents.NoActionBar"></activity>
        <activity
            android:name="com.protechneck.ui.NeckFeedbackActivity"
            android:label="@string/title_activity_tech_neck"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name="com.protechneck.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.protechneck.services.NeckCheckerService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name="com.protechneck.services.NotificationService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name="com.protechneck.services.SensorRestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"></receiver>
    </application>

</manifest>